@use '../../../../styles/variables' as *;



::ng-deep .custom-menubar .p-menubar {
  background-color: $color-primary !important;
  color: $color-primary !important;
  font-family: $font-base;
  border-radius: 0;
}

::ng-deep .custom-menubar .p-menuitem-link {
  color: $color-primary !important;

  &:hover {
    background-color: $color-third !important;
  }
}