<nav class="custom-navbar" >
  <img src="assets/images/logo.svg" alt="Logo" class="style-inicio-imagen" />

  <ul class="nav-items" >
    <ng-container *ngFor="let item of items">
      <li class="nav-item">
        <a [routerLink]="item.routerLink">{{ item.label }}</a>
      </li>
    </ng-container>
    <div  class="container-derecha">
      <li class="nav-item">
        <a [routerLink]="'contactanos'">Contáctanos</a>
      </li>
      <li class="nav-item btn-item">
        <button class="btn">
          <i class="far fa-user-circle"></i> Acceso
        </button>
      </li>
    </div>
  </ul>
</nav>
