<div class="style-marco-admin">
    <div class="grid style-title-card">
        <div class="col-12">
            <i class="fas fa-ship mr-1"></i>Importaciones
        </div>
    </div>
    <div class="grid mt-3">
        <div class="card-container-full">

            <div class="style-marco-trabajo mt-4">
                <div class="grid">
                    <div class="col-12 sm:col-12 md:col-6 lg:col-6 style-subtitle-generic">
                        Listado de Importaciones
                    </div>
                    <div class="col-12 sm:col-12 md:col-6 lg:col-6 style-subtitle-generic sm:text-left md:text-right">
                        📦 Importaciones Sol de Laredo SAC
                    </div>


                    <div class="col-12 sm:col-6 md:col-3 lg:col-3">
                        <div class="card w-full">
                            <p-floatLabel class="w-full">
                                <p-calendar [(ngModel)]="date2" inputId="fechaInicio"
                                    [style]="{width: '100%'}"></p-calendar>
                                <label for="fechaInicio">Fecha inicio</label>
                            </p-floatLabel>
                        </div>
                    </div>

                    <div class="col-12 sm:col-6 md:col-3 lg:col-3">
                        <div class="card w-full">
                            <p-floatLabel class="w-full">
                                <p-calendar [(ngModel)]="date2" inputId="fechaFin"
                                    [style]="{width: '100%'}"></p-calendar>
                                <label for="fechaFin">Fecha final</label>
                            </p-floatLabel>
                        </div>
                    </div>
                    <div class="col-12 sm:col-6 mb-2 md:col-3 lg:col-3">
                        <p-floatLabel class="w-full">
                            <input pInputText type="text" id="username" class="w-full input-border"
                                [(ngModel)]="value" />
                            <label for="username">Proveedor</label>
                        </p-floatLabel>
                    </div>
                    <div class="col-12 sm:col-6 md:col-3 lg:col-3">
                        <p-floatLabel class="w-full">
                            <input pInputText type="text" id="username" class="w-full input-border"
                                [(ngModel)]="value" />
                            <label for="username">Código o ID</label>
                        </p-floatLabel>
                    </div>
                </div>
                <div class="grid mt-2">
                    <div class="col-12">
                        <button class="btn-large"><i class="fas fa-search mr-1"></i> Buscar</button>
                    </div>
                </div>
                <!-- --- Para mi tablita  -->
                <!-- Sección de la tabla responsiva -->

                <div class="container-table">
    <div class="mb-3 mt-4">
        <p-button type="button" icon="pi pi-chevron-left" (onClick)="prev()" [disabled]="isFirstPage()"
            styleClass="p-button-text" />
        <p-button type="button" icon="pi pi-refresh" (onClick)="reset()" styleClass="p-button-text" />
        <p-button type="button" icon="pi pi-chevron-right" (onClick)="next()" [disabled]="isLastPage()"
            styleClass="p-button-text" />
    </div>

    <div class="table-wrapper">
        <p-table [value]="customers"
                 [paginator]="true"
                 [rows]="5"
                 [first]="first"
                 [showCurrentPageReport]="true"
                 currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                 (onPage)="pageChange($event)"
                 [rowsPerPageOptions]="[5,10, 25, 50]"
                 [scrollable]="true"
                 [scrollHeight]="'400px'"
                 [style]="{width:'1023px'}">
              <!-- 400px para moviles, 767px para tablets, 1023px para laptops 1024 y asi   -->
            <ng-template pTemplate="header">
                <tr>
                    <th class="table-header">Nombre</th>
                    <th class="table-header">País</th>
                    <th class="table-header">Empresa</th>
                    <th class="table-header">Representante</th>
                    <th class="table-header">Código</th>
                    <th class="table-header">Fecha</th>
                    <th class="table-header">Estado</th>
                    <th class="table-header">Valor</th>
                    <th class="table-header">Tipo</th>
                    <th class="table-header">Categoría</th>
                    <th class="table-header">Observaciones</th>
                    <th class="table-header">Acciones</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td class="table-cell">{{ customer.name }}</td>
                    <td class="table-cell">{{ customer.country?.name }}</td>
                    <td class="table-cell">{{ customer.company }}</td>
                    <td class="table-cell">{{ customer.representative?.name }}</td>
                    <td class="table-cell">{{ customer.code || 'N/A' }}</td>
                    <td class="table-cell">{{ customer.date || 'N/A' }}</td>
                    <td class="table-cell">{{ customer.status || 'N/A' }}</td>
                    <td class="table-cell">{{ customer.value || 'N/A' }}</td>
                    <td class="table-cell">{{ customer.type || 'N/A' }}</td>
                    <td class="table-cell">{{ customer.category || 'N/A' }}</td>
                    <td class="table-cell">{{ customer.observations || 'N/A' }}</td>
                    <td class="table-cell">
                        <p-button icon="pi pi-pencil"
                                  styleClass="p-button-rounded p-button-success p-button-sm mr-2"
                                  [style]="{'width': '2rem', 'height': '2rem'}"
                                  (click)="editCustomer(customer)">
                        </p-button>
                        <p-button icon="pi pi-trash"
                                  styleClass="p-button-rounded p-button-danger p-button-sm"
                                  [style]="{'width': '2rem', 'height': '2rem'}"
                                  (click)="deleteCustomer(customer)">
                        </p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>




            </div>


        </div>
    </div>
</div>
