@use './../../../../../styles/variables' as *;
@use './../../../../../styles/shared/dashboard/dashboard-style' as *;

.container-numeros-incio {
    border-radius: 10px;
    text-align: center;
    width: 95%;
    margin: auto;
    padding: 5px 5px;
    box-shadow: 0 4px 12px rgba(6, 49, 99, 0.3);

    .numero {
        font-size: 70px;
        font-weight: 700;
        color: $color-secondary;
    }

    .description {
        font-size: 14px;
        font-weight: 600;
        color: $color-secondary;
    }
}

::ng-deep .p-calendar input {
    width: 100% !important;
}

::ng-deep .p-float {
    width: 100%;
}

.container-table {
    // width: 370px !important; //movil
    width: 100% !important;
    overflow-x: auto;
    border: 2px solid red;
    margin-top: 2%;
    box-sizing: border-box;
}

.table-wrapper {
    overflow-x: auto;
    width: 100% !important;
    border: 2px solid blue;
}