<div class="style-marco-admin">
    <div class="grid style-title-card">
        <div class="col-12">
            Importaciones
        </div>
    </div>
    <div class="grid mt-3">
        <div class="card-container">

            <div class="grid">
                <div class="col-12 sm:col-12 md:col-6 lg:col-6 style-subtitle-generic">
                   <i class="fas fa-list mr-1 "></i> Listado de Importaciones
                </div>
                 <div class="col-12 sm:col-12 md:col-6 lg:col-6 style-subtitle-generic"  style="border: 2px solid red; text-align: end;">
                    Importaciones Sol de Laredo SAC
                </div>
            </div>


           
            <div class="grid mt-4">
                <div class="col-12 style-title-generic" >
                   🖐 Bienvenido Jorge B 
                </div>
            </div>
            <div class="grid mt-3">
                <div class="col-12 ">
                    <div class="style-subtitle-generic">🧭 ¿Primera vez aquí?</div>
                    <div class="text-left description-generic mt-1 mb-1">Explora el panel principal para ver tus importaciones activas o usa el buscador para rastrear
                        directamente.</div>
                    <div class="style-subtitle-generic">📞 ¿Necesitas ayuda? Recuerda escribirnos a nuestros canales de ayuda.</div>
                </div>
            </div>
        </div>
    </div>
</div>