<div class="style-marco-admin">
    <div class="grid style-title-card">
        <div class="col-12">
            <i class="fas fa-th-large mr-1"></i> Dashboard
        </div>
    </div>
    <div class="grid mt-3">
        <div class="card-container-full" style="width: 100%; padding: 5%;" >
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-3 lg:col-3">
                    <div class="container-numeros-incio">
                        <div class="numero text-secondary"> <i class="fas fa-ship mr-1"></i> 18</div>
                        <div class="description">Total de importaciones</div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-3 lg:col-3">
                    <div class="container-numeros-incio">
                        <div class="numero"><i class="fas fa-water mr-1"></i> 6</div>
                        <div class="description">Importaciones en curso</div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-3 lg:col-3">
                    <div class="container-numeros-incio">
                        <div class="numero"><i class="fas fa-check mr-1"></i> 10</div>
                        <div class="description">Importaciones finalizadas</div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-3 lg:col-3">
                    <div class="container-numeros-incio">
                        <div class="numero"><i class="fas fa-truck-loading mr-1"></i> 2</div>
                        <div class="description">Importaciones con incidencias</div>
                    </div>
                </div>
            </div>
            <div class="grid mt-4">
                <div class="col-12 style-title-generic" >
                   🖐 Bienvenido Jorge Benites 
                </div>
            </div>
            <div class="grid mt-3">
                <div class="col-12 ">
                    <div class="style-subtitle-generic">🧭 ¿Primera vez aquí?</div>
                    <div class="text-left description-generic mt-1 mb-1">Explora el panel principal para ver tus importaciones activas o usa el buscador para rastrear
                        directamente.</div>
                    <div class="style-subtitle-generic">📞 ¿Necesitas ayuda? Recuerda escribirnos a nuestros canales de ayuda.</div>
                </div>
            </div>
        </div>
    </div>
</div>