@use './../../../../../styles/variables' as *;
@use './../../../../../styles/shared/dashboard/dashboard-style' as *;

.container-numeros-incio {
    border-radius: 10px;
    text-align: center;
    width: 95%;
    margin: auto;
    padding: 5px 5px;
    box-shadow: 0 4px 12px rgba(6, 49, 99, 0.3);

    .numero {
        font-size: 70px;
        font-weight: 700;
        color: $color-secondary;
    }

    .description {
        font-size: 14px;
        font-weight: 600;
        color: $color-secondary;
    }
}

