@use './../../../styles/variables' as *;

.style-container-inicioSe {
    background: $color-secondary !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 100vh;

    .style-container-login {
        width: 100%;
        padding-top: 5%;

        @media (max-width: 767px) {
            padding-top: 25%;
        }

        @media (min-width: 767px) and (max-width: 1023px) {
            padding-top: 14%;
        }

        @media (min-width: 1023px) and (max-width: 1439px) {
            padding-top: 9%;
        }

    }

    .style-marco-login {
        max-width: 85%;
        margin: auto;
    }

    .style-grid-inicio {
        background: $color-primary;
        border-radius: 10px !important;
        margin-top: 5% !important;
    }

    .style-col-form {
        border-radius: 10px 0 0 10px !important;
        background: $color-third;

        @media (max-width: 767px) {
            border-radius: 10px 10px 0 10px !important;
        }


    }

}

.style-img {
    width: 80% !important;
}