<div class="style-container-inicioSe">
    <app-public-header />
    <div class="style-container-login" >
        <div class="style-marco-login" >
            <div class="grid style-grid-inicio">
                <div class="col-12 sm:col-6 style-col-form">
                    <router-outlet></router-outlet>
                </div>
                <div class="col-12 sm:col-6 style-col-image" >
                    <div class="p-d-flex p-jc-center p-ai-center text-center w-full" >
                        <img src="assets/images/iconSesion.png" class="style-img" alt="img inicio"  >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>