<div class="flex h-screen">
  <div
    class="transition-all duration-300 ease-in-out"
    [ngClass]="{
      'w-20rem': sidebarVisible,
      'w-0': !sidebarVisible
    }"
    [class.overflow-hidden]="!sidebarVisible">
    <app-dashboard-sidebar [class.hidden]="!sidebarVisible"></app-dashboard-sidebar>
  </div>

  <div class="flex flex-column flex-1 transition-all duration-300 ease-in-out min-h-screen">
    <app-dashboard-header
      (toggleSidebar)="changeVisibilidad()"
      [sidebarVisible]="sidebarVisible"
      >
    </app-dashboard-header>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> 


