@use './mixins' as *;
@use './variables' as *;

// --- Colores generales y globales

body {
  background: $color-third;
  padding: 0 !important;
  margin: 0 !important;
  font-family: $font-base;
}

li {
  text-decoration: none;
  list-style: none;
  font-size: $font-size-base;
  font-weight: 400;
  text-align: left;
}

.border-card {
  border: 4px solid $color-secondary;
}




.btn {
  @include button-style($color-secondary, $color-primary);
}

.btn-inverso {
  @include button-style-inverso($color-primary, $color-secondary);
}

.text-style {
  @include text-style($font-size-base ,$color-secondary);
}

.text-footer {
  @include text-footer($font-size-base, $color-primary);
}

.text-style-title {
  @include text-style($font-size-title-large ,$color-secondary);
}

.text-style-subtitle {
  @include text-style-subtitle($font-size-subtitle-large ,$color-secondary, $font-weight-bold);
}

