// -- patron de colores, fuentes y estilos globales a usar en el aplicativo
$color-primary: #FFFF; 
$color-secondary: #052A45;
$color-third: #B7C4CF;

$font-base: 'Roboto', sans-serif;

$font-size-title-small: 50px; 
$font-size-title-large: 80px; 
$font-size-subtitle-large: 35px;
$font-size-base: 18px;
$font-size-in-buttons: 15px;
$font-size-subtitle-large: 25px;
$font-size-icons: 20px;

$space-interlineado: 28px;