<div class="style-section-cotizacion">
    <div class="style-marco-cotizacion">

        <div class="grid">
            <div class="col-12 md:col-6 ">

                <div class="text-style-title">Cotización de Transporte de carga Marítima y Cabotaje</div>
                <ul class="style-ul-cotiza">
                    <li >
                        <span class="pi pi-check-circle"></span>
                        Movemos tu carga con seguridad, puntualidad y cobertura internacional.
                    </li>
                    <li>
                        <span class="pi pi-check-circle"></span>
                        Soluciones rápidas, confiables y adaptadas a tus necesidades logísticas.
                    </li>
                </ul>

                <div style="text-align: center; margin-top: 50px !important;">
                    <img src="assets/images/barco.jpg" class="justify-content-center" style="border-radius: 10px;"
                        alt="imagen Barco" [style]="{ width:'502px', height:'268px'}">
                </div>
            </div>
            <div class="col-12 md:col-6 ">
                <app-formulario-cotizacion />
            </div>

        </div>
    </div>
</div>