@use './../../../../../styles/variables' as *;

.border-card {
    border: 3px solid $color-secondary;
    border-radius: 10px !important;
}
:host ::ng-deep .icon-close {
    width: 25px  !important;
    height:25px !important;
    background: $color-secondary;
    border:none;
}


// -- Para el pill de abajo 

.price-banner {
  display: flex;
  width: fit-content;
  border: 1px solid #002F4B;
  font-family: sans-serif;
}

.label {
  background-color: #002F4B;
  color: white;
  padding: 10px 20px;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
  font-weight: bold;
}

.price {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #002F4B;
}
