@use './../../../../../styles/variables' as *;


.style-section-cotizacion {
    background: $color-third;
    padding: 15px;
    font-size: 18px !important;
}

.style-marco-cotizacion {
    max-width: 75%;
    margin: 0 auto;

    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.text-style-title {
    font-size: 60px;
    font-weight: 800;
    color: $color-secondary;
}

.style-ul-cotiza {
    list-style: none;
    padding-left: 0;

    li {
        font-size: 25px;
        margin-bottom: 16px;
    }

    span {
        font-size: 25px;
        font-weight: bolder;
    }
}