<div class="style-section-cotizacion">
    <div class="style-marco-cotizacion">

        <div class="grid" style="min-height: 100vh;">
            <div class="col-12 sm:col-5 md:col-6 lg:col-5 style-container-desc">
                <div class="text-style-title">Cotización de Transporte de carga Marítima y Cabotaje</div>
                <ul class="style-ul-cotiza">
                    <li >
                        <span class="pi pi-check-circle"></span>
                        Movemos tu carga con seguridad, puntualidad y cobertura internacional.
                    </li>
                    <li>
                        <span class="pi pi-check-circle"></span>
                        Soluciones rápidas, confiables y adaptadas a tus necesidades logísticas.
                    </li>
                </ul>
                <div class="justify-content-center text-center">
                        <img src="assets/images/barco.jpg" class="style-img-cotizacion"
                        alt="imagen Barco" >
                </div>
            </div>
            <div class="col-12 sm:col-7 md:col-6 lg:col-7" style="border: 2p solid red !important; background: red;" >
                <app-formulario-cotizacion />
            </div>

        </div>
    </div>
</div>