<div class="card flex justify-content-start ml-5">
    <p-card class="text-center">
        <div class="grid">
            <div class="col style-title-form">
                Cotización Comercial
            </div>
        </div>
        <div class="grid ">
            <div class="col-12 sm:col-12 md:col-6">
                <p-floatLabel class="w-full">
                    <input pInputText id="username" class="w-full input-border small-input" [(ngModel)]="value" />
                    <label for="username">RUC</label>
                </p-floatLabel>
            </div>
            <div class="col-12 sm:col-12 md:col-6">
                <p-floatLabel class="w-full">
                    <input pInputText id="username" class="w-full input-border small-input" [(ngModel)]="value"
                        [readOnly]="true" />
                    <label for="username">Razón Social</label>
                </p-floatLabel>
            </div>
        </div>
        <div class="grid">
            <div class="col-12 sm:col-12 md:col-6">
                <p-floatLabel class="w-full">
                    <input pInputText id="username3" class="w-full input-border small-input" [(ngModel)]="value" />
                    <label for="username3">Correo Corporativo</label>
                </p-floatLabel>
            </div>
        </div>

        <div class="text-style style-indicador">
            De
        </div>
        <div class="grid mt-2">
            <div class="col">
                <p-floatLabel class="w-full">
                    <input pInputText id="username" class="w-full input-border small-input" [(ngModel)]="value" />
                    <label for="username">País</label>
                </p-floatLabel>
            </div>
            <div class="col">
                <p-floatLabel class="w-full">
                    <input pInputText id="username" class="w-full input-border small-input" [(ngModel)]="value" />
                    <label for="username">Ciudad</label>
                </p-floatLabel>
            </div>
        </div>

        <div class="text-style style-indicador">
            Para
        </div>
        <div class="grid mt-2">
            <div class="col">
                <p-floatLabel class="w-full">
                    <input pInputText id="username" class="w-full input-border small-input" [(ngModel)]="value" />
                    <label for="username">País</label>
                </p-floatLabel>
            </div>
            <div class="col">
                <p-floatLabel class="w-full">
                    <input pInputText id="username" class="w-full input-border small-input" [(ngModel)]="value" />
                    <label for="username">Ciudad</label>
                </p-floatLabel>
            </div>
        </div>

        <!-- -- Para los cards de articulos -->
        <div class="grid">
            <div class="col-6 mt-1" style="text-align: start;">
                <span class="text-style">Embarque</span>
            </div>
            <div class="col-6 mt-1" style="text-align: end;">
                <button class="btn-inverso" (click)="agregarNuevoEmbarque()"><i class="fas fa-plus-circle mr-1"></i> Agregar</button>
            </div>
        </div>
       
        <div class="container-lista-embarques">
            <div class="border-card" *ngFor="let item of lstEmbarques" [attr.id]="item.id">
                <div >
                    <div class="grid style-container-articulo">
                        <div class="col-6 mt-1" style="text-align: start;">
                            <span class="text-style"># {{item.numero}}</span>
                        </div>
                        <div class="col-6 mt-1" style="text-align: end;">
                            <p-button icon="pi pi-times" [rounded]="true" styleClass="icon-close" (onClick)="eliminarFilaEmbarque(item.id)" />
                        </div>
                    </div>
    
                    <div class="grid mt-1 style-container-articulo">
                        <div class="col-4">
                            <p-floatLabel class="w-full">
                                <input pInputText type="number" id="price" class="w-full input-border small-input style-input-embarque"
                                    [(ngModel)]="item.precio" />
                                <label for="price">Precio</label>
                            </p-floatLabel>
                        </div>
                        <div class="col-4">
                            <p-floatLabel class="w-full">
                                <input pInputText type="number" id="username" class="w-full input-border small-input style-input-embarque"
                                    [(ngModel)]="item.cantidad" />
                                <label for="username">Número de bultos</label>
                            </p-floatLabel>
                        </div>
                        <div class="col-4">
                            <p-floatLabel class="w-full">
                                <input pInputText type="number" id="username" class="w-full input-border small-input style-input-embarque"
                                    [(ngModel)]="item.peso" />
                                <label for="username">Peso total (kg)</label>
                            </p-floatLabel>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-2 text-left">
            <button class="btn">Realizar cotización</button>
        </div>

        <div class="text-style text-left" style="font-size: 12px !important;">
            *El precio es estimado. Para un valor exacto, contacta a atención al cliente
        </div>

        <div class="price-banner mt-2">
            <div class="label" style="font-size: 25px;">
                <span class="ml-5">Precio desde</span>
            </div>
            <div class="price">PEN <strong>&nbsp; 1254.48</strong></div>
        </div>
        <div class="mt-4 text-center">
            <button class="btn">Contactarme Ahora</button>
        </div>
    </p-card>
</div>