@use './../../../../../../../styles/variables' as *;



:host ::ng-deep .icon-close {
  width: 25px !important;
  height: 25px !important;
  background: $color-secondary;
  border: none;
}

.input-border {
  border: 1.5px solid $color-secondary;
}


// -- Para el pill de abajo 

.price-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  border: 2px solid $color-secondary !important;
}


.label {
  flex: 1 1 70%;
  background-color: $color-secondary;
  color: $color-primary;
  clip-path: polygon(0 0, 94% 0, 85% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-weight: 600;
  font-size: clamp(17px, 1vw + 0.5rem, 19px);

}

.price {
  flex: 1 1 50%;
  color: $color-secondary !important;
  font-weight: 500;
  font-size: clamp(17px, 1vw + 0.5rem, 19px);
}


// -- tomar en cuenta 
.style-title-form {
  text-align: center;
  font-size: clamp(26px, 2vw + 0.5rem, 30px);

  font-weight: 700 !important; // para movil, tablet y laptops
  color: $color-secondary;
  margin-top: -7% !important; //movil, tablet, laptop 1024
  margin-top: -5% !important;
  margin-bottom: 1rem !important;
}

.small-input {
  height: 38px !important;
  font-size: 0.75rem !important;
  padding: 0.25rem 0.5rem !important;
}

:host ::ng-deep .p-float-label {
  margin-bottom: 0.25rem !important;
}

:host ::ng-deep .grid {
  margin-top: 0.50rem !important;
  row-gap: 0.5rem;
}

:host ::ng-deep .col {
  padding: 0 0.25rem !important;
}

.style-indicador {
  text-align: start;
  margin-bottom: 17px !important;
}



::ng-deep .p-card {
  background-color: $color-primary;
  border-radius: 50px;
  padding: 2%;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 12px rgba(6, 49, 99, 0.3);
}

.border-card {
  border: 2px solid $color-secondary;
  border-radius: 10px !important;
  margin-top: 3px !important;
}

.style-container-articulo {
  padding: 0 15px;
}

.container-card {
  width: 100% !important;
  margin: auto;

}

.container-lista-embarques {
  max-height: 28vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.style-input-embarque {
  font-size: 15px !important;
  text-align: center !important;
  font-weight: 600;
}