       <div class="card flex justify-content-center text-align" [style]="{ width:'800px !important' }">
                    <p-card header="Cotización Comercial" class="title-style text-center border-card">
                        <ng-template pTemplate="header">
                        </ng-template>

                        <div class="grid ">
                            <div class="col">
                                <p-floatLabel class="w-full">
                                    <input pInputText id="username" class="w-full input-border" [(ngModel)]="value" />
                                    <label for="username">RUC</label>
                                </p-floatLabel>
                            </div>
                            <div class="col">
                                <p-floatLabel class="w-full">
                                    <input pInputText id="username" class="w-full input-border" [(ngModel)]="value"
                                        [readOnly]="true" />
                                    <label for="username">Razón Social</label>
                                </p-floatLabel>
                            </div>
                        </div>
                        <div class="grid mt-2">
                            <div class="col-12">
                                <p-floatLabel class="w-full">
                                    <input pInputText id="username3" class="w-full input-border" [(ngModel)]="value" />
                                    <label for="username3">Correo Corporativo</label>
                                </p-floatLabel>
                            </div>
                        </div>

                        <div class="text-style" style="text-align: start;">
                            De
                        </div>
                        <div class="grid mt-2">
                            <div class="col">
                                <p-floatLabel class="w-full">
                                    <input pInputText id="username" class="w-full input-border" [(ngModel)]="value" />
                                    <label for="username">País</label>
                                </p-floatLabel>
                            </div>
                            <div class="col">
                                <p-floatLabel class="w-full">
                                    <input pInputText id="username" class="w-full input-border" [(ngModel)]="value" />
                                    <label for="username">Ciudad</label>
                                </p-floatLabel>
                            </div>
                        </div>

                        <div class="text-style" style="text-align: start;">
                            Para
                        </div>
                        <div class="grid mt-2">
                            <div class="col">
                                <p-floatLabel class="w-full">
                                    <input pInputText id="username" class="w-full input-border" [(ngModel)]="value" />
                                    <label for="username">País</label>
                                </p-floatLabel>
                            </div>
                            <div class="col">
                                <p-floatLabel class="w-full">
                                    <input pInputText id="username" class="w-full input-border" [(ngModel)]="value" />
                                    <label for="username">Ciudad</label>
                                </p-floatLabel>
                            </div>
                        </div>

                        <!-- -- Para los cards de articulos -->
                        <div class="grid">
                            <div class="col-6 mt-1" style="text-align: start;">
                                <span class="text-style">Embarque</span>
                            </div>
                            <div class="col-6 mt-1" style="text-align: end;">
                                <button class="btn-inverso"><i class="fas fa-plus-circle mr-1"></i> Agregar</button>
                            </div>
                        </div>
                        <div class="border-card mt-1 p-2">
                            <div class="grid ">
                                <div class="col-6 mt-1" style="text-align: start;">
                                    <span class="text-style"># 1</span>
                                </div>
                                <div class="col-6 mt-1" style="text-align: end;">
                                    <p-button icon="pi pi-times" [rounded]="true" styleClass="icon-close" />
                                </div>
                            </div>

                            <div class="grid mt-1">
                                <div class="col-4">
                                    <p-floatLabel class="w-full">
                                        <input pInputText type="number" id="price" class="w-full input-border"
                                            [(ngModel)]="value" />
                                        <label for="price">Precio</label>
                                    </p-floatLabel>
                                </div>
                                <div class="col-4">
                                    <p-floatLabel class="w-full">
                                        <input pInputText type="number" id="username" class="w-full input-border"
                                            [(ngModel)]="value" />
                                        <label for="username">Número de bultos</label>
                                    </p-floatLabel>
                                </div>
                                <div class="col-4">
                                    <p-floatLabel class="w-full">
                                        <input pInputText type="number" id="username" class="w-full input-border"
                                            [(ngModel)]="value" />
                                        <label for="username">Peso total</label>
                                    </p-floatLabel>
                                </div>
                            </div>
                        </div>

                        <div class="mt-2 text-left">
                            <button class="btn">Realizar cotización</button>
                        </div>

                        <div class="text-style text-left" style="font-size: 12px !important;">
                            *El precio es estimado. Para un valor exacto, contacta a atención al cliente
                        </div>

                        <div class="price-banner mt-2">
                            <div class="label" style="font-size: 25px;">
                                <span class="ml-5">Precio desde</span>
                            </div>
                            <div class="price">PEN <strong>&nbsp; 1254.48</strong></div>
                        </div>
                        <div class="mt-3 text-center">
                            <button class="btn">Contactarme Ahora</button>
                        </div>
                    </p-card>
                </div>