@use './../../../../../../../styles/variables' as *;



:host ::ng-deep .icon-close {
  width: 25px !important;
  height: 25px !important;
  background: $color-secondary;
  border: none;
}

.input-border {
  border: 2px solid $color-secondary;
}


// -- Para el pill de abajo 

.price-banner {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 70px;
  flex-wrap: wrap;
  border: 3px solid $color-secondary;
}

.label {
  flex: 1 1 auto;
  min-width: 200px;
  max-width: 100%;
  background-color: #002F4B;
  color: white;
  padding: 10px 20px;
  clip-path: polygon(0 0, 94% 0, 85% 100%, 0% 100%);
}

.price {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #002F4B;
  font-size: 25px;
}




// -- tomar en cuenta 
.style-title-form {
  text-align: center;
  font-size: 26px; // para movil
  // font-size: 35px;
  font-weight: 600 !important;
  color: $color-secondary;
  margin-top: -7% !important;
  margin-bottom: 1rem !important;
}

.small-input {
  height: 38px !important;
  font-size: 0.75rem !important;
  padding: 0.25rem 0.5rem !important;
}

:host ::ng-deep .p-float-label {
  margin-bottom: 0.25rem !important;
}

:host ::ng-deep .grid {
  margin-top: 0.50rem !important;
  row-gap: 0.5rem;
}

:host ::ng-deep .col {
  padding: 0 0.25rem !important;
}

.style-indicador {
  text-align: start;
  margin-bottom: 17px !important;
}



::ng-deep .p-card {
  background-color: $color-primary;
  border: 5px solid $color-secondary;
  border-radius: 50px;
  padding: 2% ;
  width: 100%;
  height: 100%;
  
}

.border-card {
  border: 3px solid $color-secondary;
  border-radius: 10px !important;
  margin-top: 3px !important;
}

.style-container-articulo {
  padding: 0 15px;
}

.container-card {
  width: 100% !important;
  margin: auto;

}

.container-lista-embarques {
  max-height: 28vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.style-input-embarque {
  font-size: 15px !important;
  text-align: center !important;
  font-weight: 600;
}