<section class="style-section">

    <div class="grid text-footer" >
        <div class="col">
            <p >Copyright © 2025 APA INTERNATIONAL.</p>
        </div>
    </div>
    <div class="grid">
        <div class="col">
            fb ig wssp
        </div>
    </div>




    


    <div class="grid">
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">2</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">3</div>
    </div>
</div>


</section>