@use './../../../../../styles/shared/login/login-styles' as *;
@use './../../../../../styles/variables' as *;

.style-olvidaste-pass {
     cursor: pointer;
    color: $color-secondary;
    font-weight: 700;
}

::ng-deep .p-checkbox-box.p-highlight {
  background: $color-secondary; 
  border-color:  $color-secondary; 
}

::ng-deep .p-checkbox-box {
  width: 20px;       
  height: 20px;     
}