<div class="style-marco-admin">
    <div class="grid style-title-card">
        <div class="col-12">
            <i class="fas fa-user mr-1"></i> Perfil
        </div>
    </div>
    <div class="card-container-full padding-card-general">
        <div class="grid">
            <div class="col-12">
                <div class="style-title-generic">Actualizar datos del perfil </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12 mt-3">
                <p-floatLabel class="w-full">
                    <input pInputText id="username" class="w-full input-border" [(ngModel)]="value" />
                    <label for="username">Nombres</label>
                </p-floatLabel>
            </div>
        </div>
        <div class="grid mt-2">
            <div class="col-12 sm:col-12 md:col-12 lg:col-6 mt-1">
                <p-floatLabel class="w-full">
                    <input pInputText id="username" class="w-full input-border" [(ngModel)]="value" />
                    <label for="username">RUC</label>
                </p-floatLabel>
            </div>
            <div class="col-12 sm:col-12 md:col-12 lg:col-6 mt-1">
                <p-floatLabel class="w-full">
                    <input pInputText id="username" class="w-full input-border" [(ngModel)]="value" />
                    <label for="username">Razón Social</label>
                </p-floatLabel>
            </div>
        </div>

        <div class="grid mt-2">
            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                <p-floatLabel class="w-full">
                    <input pInputText id="username" class="w-full input-border" [(ngModel)]="value" />
                    <label for="username">Correo Corporativo</label>
                </p-floatLabel>
            </div>
            <div class="col-12 sm:col-12 md:col-12 lg:col-6 mt-">
                <p-floatLabel class="w-full">
                    <input pInputText id="username" class="w-full input-border" [(ngModel)]="value" />
                    <label for="username">Telefono</label>
                </p-floatLabel>
            </div>
        </div>
        <div class="grid">
            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                <div class="mt-3 text-center justify-content-center">
                    <button class="btn-large"><i class="fas fa-sign-in-alt mr-1"></i> Actualizar datos</button>
                </div>
            </div>
        </div>
    </div>
</div>