<div class="style-section-contactanos">
    <div class="style-marco-contactanos">
        <div class="grid">

            <div class="col-12 sm:col-6 md:col-5 container-adviser-contacto">
                <div style="text-align: left;">
                    <div class="style-titulo-contactanos">Nos complace poder ayudarte, contáctanos</div>
                    <div class="style-texto-contactanos">Envíanos tu consulta con los datos requeridos y uno de nuestros
                        agentes se pondrá en contacto contigo a la brevedad.¡Estamos aquí para ayudarte!</div>
                    <div class="text-center">
                        <img src="assets/images/contactanos.jpeg" alt="imagen Barco" class="imagen-contactanos" />
                    </div>
                </div>
            </div>
            <div class="col-12 sm:col-6 md:col-7">
                <app-formulario />
            </div>
        </div>
    </div>
</div>