@use './../../../../../styles/variables' as *;

.style-section-contactanos {
    background: $color-third;
    padding: 15px;
    font-size: 18px !important;
}

.style-marco-contactanos {
    max-width: 75%;
    margin: 0 auto;
    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.style-titulo-contactanos {

    font-size: clamp(40px, 4vw, 50px);
    font-weight: 900;
    margin-bottom: clamp(10px, 1vw, 15px);
    color: $color-secondary;
}

.style-texto-contactanos {
    font-size: clamp(16px, 0.25vw + 15px, 18px);
    line-height: 1.6;
    margin-bottom: clamp(10px, 1vw, 15px);
    color: $color-secondary;
}

.imagen-contactanos {
    width: clamp(70%, 1vw + 72%, 75%);
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.container-adviser-contacto {
    text-align: center;
    margin: auto 0;
}

