@use './../../../../../../../styles/variables' as *;

.container-card {
    max-width: 320px !important;
    max-height: 290px !important;
    padding: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background-color: $color-primary;
    cursor: pointer;
}

.subtitle-card {
    font-weight: 800;
    color: $color-secondary;
    font-size: clamp(14px, 1rem, 19px);
}

.text-card {
    font-weight: lighter;
    font-size: clamp(14px, 0.9rem, 18px) !important;
    color: $color-secondary;
}

.icon-card {
    color: $color-secondary;
    font-size: clamp(90px, 1rem, 120px) !important;
    text-align: center;
    transition: transform 0.3s ease;
}

.container-card:hover .icon-card {
  transform: translateY(-10px);
}

