<!-- dashboard-header.component.html -->
<nav class="style-navbar-dash">
    <div class="container-nav">
        <div>
            <!-- Botón que siempre está visible -->
            <button
                class="btn-toggle-sidebar"
                (click)="onToggleSidebar()"
                [attr.aria-label]="sidebarVisible ? 'Ocultar sidebar' : 'Mostrar sidebar'">
                <i *ngIf="!sidebarVisible" class="fas fa-angle-double-right"></i>
                <i *ngIf="sidebarVisible" class="fas fa-angle-double-left"></i>
            </button>
        </div>
        <div class="nav-title">
            Canal de atención
        </div>
    </div>
</nav>
